apiVersion: v1
kind: Service
metadata:
  name: userservice
  namespace: ecommerce
spec:
  selector:
    app: userservice
  ports:
    - name: grpc
      port: 50051
      targetPort: grpc
  type: ClusterIP

