name: cartservice

services:
  app:
    build:
      context: ../../..
      dockerfile: ./services/CartService/docker/Dockerfile.dev
    volumes:
      - ../../..:/app
      - /app/tmp
    environment:
      - INTERNAL_AUTH_TOKEN=${INTERNAL_AUTH_TOKEN:-dev-internal-token}
    depends_on:
      - redis
    networks:
      cart_service_network:
      ecommerce_default:
        aliases:
          - cartservice_app
  redis:
    image: redis:7-alpine
    networks:
      cart_service_network:

volumes:
  redis_data:

networks:
  cart_service_network:
    driver: bridge
  ecommerce_default:
    external: true
