apiVersion: v1
kind: Service
metadata:
  name: cartservice
  namespace: ecommerce
  labels:
    app: cartservice
spec:
  selector:
    app: cartservice
  ports:
    - name: grpc
      port: 50057
      targetPort: grpc
  type: ClusterIP

