apiVersion: apps/v1
kind: Deployment
metadata:
  name: productservice
  namespace: ecommerce
  labels:
    app: productservice
    component: backend

spec:
  replicas: 2

  selector:
    matchLabels:
      app: productservice
  template:
    metadata:
      labels:
        app: productservice
        component: backend
    spec:
      securityContext:
        runAsNonRoot: false
        runAsUser: 65532

      containers:
        - name: productservice
          image: abodiaa/productservice:prod
          imagePullPolicy: Always

          ports:
            - containerPort: 50053
              name: grpc

          envFrom:
            - configMapRef:
                name: productservice-config
            - secretRef:
                name: productservice-secret

          volumeMounts:
            - name: logs
              mountPath: /app/logs

          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "300m"
              memory: "512Mi"

          readinessProbe:
            tcpSocket:
              port: grpc
            initialDelaySeconds: 60
            periodSeconds: 5
            failureThreshold: 3

          livenessProbe:
            tcpSocket:
              port: grpc
            initialDelaySeconds: 60
            periodSeconds: 10
            failureThreshold: 3

          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL

      volumes:
        - name: logs
          emptyDir: {}

