apiVersion: v1
kind: Service
metadata:
  name: productservice
  namespace: ecommerce
spec:
  selector:
    app: productservice
  ports:
    - name: grpc
      port: 50053
      targetPort: grpc
  type: ClusterIP

