apiVersion: v1
kind: Service
metadata:
  name: orderservice
  namespace: ecommerce
spec:
  selector:
    app: orderservice
  ports:
    - name: grpc
      port: 50055   
      targetPort: grpc
  type: ClusterIP

